@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

* {
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.header,
.menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 8px;
	background-color: #1f2937;
	color: #f9faf8;
	font-size: 24px;
}
.header {
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	border: 1px solid red;
}

ul {
	list-style: none;
	display: flex;
	gap: 16px;
}
li a {
	text-decoration: none;
	color: #e5e7eb;
	font-size: 18px;
}