@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

* {
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1f2937;
	color: #f9faf8;
	font-size: 24px;
	border: 1px solid red;
	padding: 16px 32px;
}
.header {
	/*overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;*/
}

ul {
	list-style: none;
	display: flex;

}
li a {
	text-decoration: none;
	color: #e5e7eb;
	font-size: 18px;
}

.hero {
	display: flex;
	justify-content: center;
	align-items: stretch;
	padding: 80px;
	border: 1px solid red;
	color: #f9faf8;
	background-color: #1f2937;
	gap: 100px;
}

.intro,
.placeholder {
	flex: 1;
}

.intro {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 400px;
}
.intro h1 {
	font-size: 48px;
}
.intro p {
	color: #e5e7eb;
	font-size: 18px;
}

button {
	width: 100px;
	height: 30px;
	font-size: 14px;
	font-weight: 500;
	color: #f9faf8;
	background-color: #3882f6;
	border-radius: 0.5rem;
	border-color: transparent;
}

.placeholder {
	display: flex;
	border: 1px solid red;
	max-width: 400px;
}
.placeholder img {
	width: 400px
}

.second-hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	
}

.second-hero h2 {
	font-size: 36px;
	font-weight: 900;
	color: #1f2937;
	margin: 40px auto;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 32px;
	margin-bottom: 80px
}

.card {
	display: flex;
	flex-direction: column;
	gap: 8px;
	border-radius: 0.5rem;
}

.card img {
	width: 180px;
	height: 200px;
	object-fit: cover;
	border: 1px solid #3882f6;
	border-radius: 0.5rem;
}

.card p {
	width: 180px;
	text-align: center;
	font-size: 16px;
}

